body {
  background-color: var(--color-background);
  font-family: var(--font-main);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 800px;
  text-align: center;
}
